#post .card {
	background: var(--light-cl-rgba);
}

.thumbnail-container {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	overflow: hidden;
}

.thumbnail {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
