.fs-7 {
    font-size: 0.85rem !important;
}

/* .fw-lightest {
    font-weight: 50 !important;
} */

.py-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
}

.btn-success {
    background-color: var(--normal-cl);
    border: 2px solid var(--normal-cl);
    transition: all 0.4s ease;
    padding: 7px 20px;
}

.text-dark h2{
    font-weight: 100;
    color: var(--dark-cl);
}

.text-normal {
    color: var(--normal-cl) !important;
}

.mb-6 {
    margin-bottom: 4rem;
}

.dropdown-item {
    padding: 1rem 1.5rem;
}

.drop-menu {
    font-size: 1.2rem !important;

}