@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

* {
    box-sizing: border-box;
}

body {
    /* background-image: linear-gradient(to right, #034378, #2d4e68); */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    background-color: var(--super-light-cl);
}

.row {
    max-width: 90vw;
    margin: 50px auto 0;
}

.events {
    a {
        text-decoration: none;
    }

    h1 {
        text-shadow: none;
        font-size: 2rem;
        font-weight: 300;
    }

    .card {
        background-color: var(--super-light-cl);
        float: left;
        padding: 0 1.7rem;
        width: 33%;
    }

    .card .wrapper {
        background-color: #fff;
        min-height: 540px;
        position: relative;
        overflow: hidden;
        /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
            0 15px 12px rgba(0, 0, 0, 0.2); */
    }

    .card .wrapper:hover .data {
        transform: translateY(0);
    }

    .card .data {
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: translateY(calc(70px + 1em));
        transition: transform 0.3s;
    }

    .card .data .content {
        padding: 1em;
        position: relative;
        z-index: 1;
    }

    .card .author {
        font-size: 12px;
    }

    .card .title {
        margin-top: 10px;
    }

    .card .text {
        height: 70px;
        margin: 0;
    }

    .card input[type="checkbox"] {
        display: none;
    }

    .date {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--normal-cl);
        color: #fff;
        padding: 1em;
    }

    .date span {
        display: block;
        text-align: center;
    }

    .day {
        font-weight: 700;
        font-size: 24px;
        text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
    }

    .month,
    .year {
        font-size: 12px;
        text-transform: uppercase;
    }

    /* Example 2 */
    .example-2 .wrapper {
        border-radius: 2.7rem 0;
        /* border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%; */
        background: url(https://tvseriescritic.files.wordpress.com/2016/10/stranger-things-bicycle-lights-children.jpg)
            center / cover no-repeat;
    }

    .example-2 .header {
        color: #fff;
        padding: 1em;
    }

    .example-2 .header::before,
    .example-2 .header::after {
        content: "";
        display: table;
    }

    .example-2 .header::after {
        clear: both;
    }

    .example-2 .header .date {
        float: left;
        font-size: 12px;
    }

    .example-2 .data {
        color: #fff;
        transform: translateY(calc(70px + 4em));
    }

    .example-2 .title a {
        color: var(--white-cl);
    }

    .example-2 .button {
        color: var(--normal-cl);
        display: block;
        width: 100px;
        margin: 2em auto 1em;
        text-align: center;
        font-size: 12px;
        line-height: 1;
        position: relative;
        font-weight: 700;
    }

    .example-2 .button::after {
        content: "\2192";
        opacity: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        transition: all 0.3s;
    }

    .example-2 .button:hover::after {
        transform: translate(5px, -50%);
        opacity: 1;
    }
}
